:root {
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #3a3a3a;
    --palate-linen: hsl(28, 55%, 97%);
    --palate-cyan: hsl(182, 92%, 82%);
    --palate-light-purple: hsl(275, 90%, 89%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&family=Urbanist:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap');

body {
    min-height: 100vh;
    min-width: 100vw;
    background: lightblue;
}

.grid-container {
    min-height: 100vh;
    height: 100%;
    background: hsl(26, 65%, 90%);
    display: grid;
    grid-template-columns: max(236px, 16%) 1fr;
    column-gap: 5px;
}

.navbar {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(24px, min-content));
    row-gap: 0.4rem;
    font-family: 'Ubuntu', 'Mulish', Arial, Helvetica, sans-serif;
    background: var(--palate-cyan);
    border-right: 1px solid #444;
    border-radius: 0px 3px 0px 0px;
    box-shadow: 1px 0px 1px #888;
    padding: 0.75rem 0;
}

.navbar h1 {
    font-family: 'Urbanist', sans-serif;
    font-size: 2.4rem;
    font-weight: 200;
    grid-column: 1 / -1;
    text-align: center;
}

.navbar h2 {
    font-size: 1.3rem;
    font-weight: 400;
}

.navbar p {
    color: #444;
    font-weight: 400;
    font-size: 1.1rem;
}

.navbar > .nav-item p {
    font-weight: 300;
    font-size: 1rem;

}

.navbar .icon {
    cursor: pointer;
    height: 100%;
    width: calc(height);
    padding: 0.25rem;
}

.navbar .icon:hover {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
}

.navbar > .nav-item {
    padding: 0 0.3rem;
    display: grid;
    grid-template-columns: 54px 1fr;
    align-items: center;
    gap: 0.5rem;
}

.navbar > .nav-item:first-child {
    font-family: 'Urbanist', Arial, Helvetica, sans-serif;
    height: min-content;
    background: hsla(0, 5%, 5%, 0.8);
    color: #fefefe;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.navbar > .nav-item > img:first-child {
    justify-self: end;
}

.navbar > #projects-sidebar > .sidebar-link {
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.sidebar-project {
    margin-bottom: 0.4rem;
}

.navbar > .end-nav-item {
    padding-left: 1.25rem;
}

#project-nav {
    position: relative; 
}

#projects-sidebar {
    margin-left: 0.85rem;
    margin-bottom: 1.8rem;
}

#content {
    display: grid;
    background: inherit;
    grid-template-columns: repeat(auto-fit, minmax(380px, 0.65fr));
    grid-template-rows: repeat(auto-fit, minmax(360px, min-content));
    gap: 1.75rem;
    padding: 1rem 2.25rem 2rem;
    letter-spacing: 0.015rem;
}

.project-card {
    border: 1px solid #333;
    box-shadow: 1px 1px 2px lightgray;
    border-radius: 1rem;
    background: var(--palate-linen);
    padding: 0.9rem;
    margin: 0.5rem 0.5rem 0;
    min-height: 360px;
    height: min-content;
}

.project-header {
    font-family: 'Ubuntu', 'Mulish', Helvetica, 'Arial', sans-serif;
    font-weight: 200;
    font-size: 1.1rem;
    padding: 0.25rem 0.35rem;
    border-bottom: 1px solid gray;
    margin-bottom: 0.6rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.project-header > .project-icons {
    margin-left: auto;
    display: flex;
    gap: 0.75rem;
}

.project-header > h2 {
    font-weight: lighter;
}

.project-header > .project-icons > * {
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.task-container {
    margin-top: 0.4rem;
    background: #fefefe;
    border-radius: 8px;
    border: 1px solid lightgrey;
    font-size: 0.9em;
}

.task-body {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid lightgray;
    padding: 0.1rem 0.25rem 0.25rem;
    margin: 0 0.5rem;
    gap: 0.5rem;
}

.task-icons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.25rem;
    margin: 0.2rem 0;
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    gap: 0.9rem;
    padding: 0.3rem 0.65rem;
    font-weight: 300;
}

.task-header > p:first-child {
    font-size: 1rem;
    font-weight: 600;
    margin-right: auto;
}

.task-header > p:nth-child(2) {
    min-width: max-content;
}

.task-header > .icon-expand {
    min-width: 18px;
    width: 18px;
    height: calc(width);
}

.task-body > * {
    margin-top: 0.2rem;
}

.task-info {
    width: 100%;
    padding: 0 0.25rem 0 0;
    margin-bottom: 0.2rem;
    display: grid;
    grid-template-columns: max-content 1fr;
    row-gap: 0.5rem;
    align-items: center;
}

.task-info > p:first-child {
    grid-column: 1 / -1;
    font-weight: 300;
    justify-self: start;
}

.task-info > .completion-status {
    font-size: 0.85rem;
    justify-self: end;
}

.task-priority {
    border-radius: 1.4rem;
    width: min-content;
    font-size: 0.58rem;
    font-weight: 700;
    padding: 0.1rem 0.45rem;
}

.task-icons-container > * {
    height: 18px;
    width: 18px;
    cursor: pointer;
}

.form-container {
    position: relative;
}

form {
    font-size: 0.9rem;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    z-index: 1;
    position: absolute;
    top: 19px;
    left: 20px;
    padding: 0.65rem;
    height: max-content;
    width: 220px;
    background: #fefefe;
    border: 2px solid var(--palate-light-purple);
    border-radius: 8px;
}

form input, select, option {
    outline: none;
    height: 1.1rem;
    width: 10.5rem;
    font-size: 0.8rem;
    display: inline;
    margin: 0.2rem 0 0.4rem;
    padding: 3px;
    border-radius: 5px;
}

form input[type=checkbox] {
    width: 1rem;
}

form select {
    height: 1.5rem;
    width: 4.5rem;
}

form input:invalid {
    border: 1px solid orangered;
}

form input:valid {
    border: 1px solid lightgray;
}

form input:focus {
    outline: none;
    border: 1px solid gray;
    box-shadow: inset 1px 1px lightgray,
                inset -1px -1px lightgray;
}

form label, button {
    font-size: 0.9rem;
    display: block;
    width: max-content;
    font-weight: 400;
}

form > .form-title {
    border-bottom: 1px solid lightgray;
    margin-bottom: 0.5rem;
}

form h4 {
    font-weight: 500;
}

form > .form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.1rem;
    margin: 0.15rem 0;
}

form > #delete-row {
    justify-content: flex-start;
    align-items: center;
    gap: 0.45rem;
    margin-left: 0.05rem;
}

form button {
    padding: 0.3rem 0.4rem;
    background: var(--palate-light-purple);
    border-radius: 14px;
    border: 1px solid #666;
    box-shadow: 1px 1px 1px lightgray;
    margin-left: auto;
    margin-top: 0.25rem;
    cursor: pointer;
}

#project-form {
    top: unset;
    bottom: 48px;
    left: 30px;
    width: 240px;
}
